.body-signup{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

label {
  float: left;
  font-size: 20px;
}

span {
  display: block;
  overflow: hidden;
  padding: 0px 4px 0px 6px;
}
.text-input{
  height: 30px
}
h3{
  text-align: center;
  white-space: nowrap; 
}

.card-signup{
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

h1{
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden;
  color: white
}

.header-signup{
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../../assets//signup.jpg") center center fixed;
  color: black;
  height: 100vh;
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
  

}